@using Microsoft.AspNetCore.Identity
@inject UserManager<UserDetails> userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PXLPro2022Shoppers07</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Webshop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Products">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Orders">Orders</a>
                        </li>
                    </ul>
                    <div class="flex-grow-1">
                        <partial name="_SearchBar" />
                    </div>
                    <div class="form-inline my-2 my-lg-0">
                        <partial name="_LoginPartial" />
                        <div class="ml-2 mr-2">
                            <a asp-controller="FavoriteProduct" asp-action="Index">
                                <i class="far fa-heart"></i>
                            </a>
                        </div>

                        <div class="ml-2 mr-2">
                            <a asp-controller="ShoppingCart" asp-action="Index">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PXLPro2022Shoppers07 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/Vendors/jquery.easy-autocomplete.min.js"></script>
    <script type="text/javascript">
        var options = {
            url: function(search) {
                return "/product/search";
            },

            getValue: "productName",
            template: {
                type: "custom",
                method: function(value, item) {
                    return "<img src='" +  "data:image/jpg;base64," + item.productImage[0].productImageByte + "' width='40' height='auto' /> " + value;
                }
            },

            ajaxSettings: {
                dataType: "json",
                method: "POST",
                data: {
                    dataType: "json"
                }
            },

            showAnimation: {
                type: "slide",
                time: 150
            },
            hideAnimation: {
                type: "slide",
                time: 150
            },

            list: {
                match: {
                    enabled: true
                },
                onClickEvent: function() {
                    var index = $("#basics").getSelectedItemData().productId;
                    window.location.href = '/product/product/' + index;
                }
            },

            preparePostData: function(data) {
                data.search = $("#basics").val();
                return data;
            },
            requestDelay: 200,
        };
        $("#basics").easyAutocomplete(options);

    </script>

    }
    @RenderSection("Scripts", required: false)

</body>
</html>
