@model PXLPro2022Shoppers07.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div>
        @foreach (var image in Model.ProductImage)
        {
            <img src="@image.Base64String" width="50" height="50" alt="">
        }
        <div>
            <h3>@Model.Price.ToString("c")</h3>
        </div>
        <div>
            <a class="btn btn-primary"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-id="@Model.ProductId">Add to cart</a>

        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
